.btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em;
    color: $text-inverse;
    &--flat {
        background-color: $bluebright;
        margin-bottom: 1px;
        &:active,
        &.active {
            background-color: darken($bluebright, 10%);
        }
    }
    &--underline {
        background-color: $bluedark;
        border-bottom: 4px solid lighten($bluedark, 20%);
        margin-bottom: 2px;
        &:active,
        &.active {
            background-color: lighten($bluedark, 10%);
        }
    }
    &--list {
        display: block;
        width: 100%;
    }
    &--faden:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.15);
    }
}
