.field {
    position: relative;
    height: 612px;
    width: 422px;
    background: url('../assets/img/field.jpg') no-repeat center;
    background-size: contain;
    margin: 5em 0;
    &__reset {
        width: 100%;
        position: absolute;
        bottom: -4em;
        text-align: center;
    }
}

.field-row {
    position: relative;
    clear: both;
    text-align: center;
}
