.jersey-wrapper {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.jersey {
    // display: inline-block;
}
.jersey-label {
    display: block;
    min-height: 1.4em;
    max-width: 84px;
    background-color: $bluebright;
    color: $text-inverse;
    padding: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
