%fab {
    position: absolute;
    margin: 1em;
}

.layout {
    &__center {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__full-width {
        min-height: 100vw;
    }
    &__full-height {
        min-height: 100vh;
    }
    &__top-right {
        @extend %fab;
        top: 0;
        right: 0;
    }
    &__top-left {
        @extend %fab;
        top: 0;
        left: 0;
    }
    &__bottom {
        @extend %fab;
        bottom: 0;
    }
}
