.modal {
    max-width: 500px;
    margin: 1em;
    margin: auto;
    margin-top: 56px;
    &__title {
        color: $text-inverse;
        font-size: 2em;
        text-align: center;
        margin-bottom: 0.5em;
    }
}
